# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
first-test/.terraform/providers/registry.terraform.io/hashicorp/aws/3.59.0/darwin_amd64/terraform-provider-aws_v3.59.0_x5
Web-server/.terraform/providers/registry.terraform.io/hashicorp/aws/3.59.0/darwin_amd64/terraform-provider-aws_v3.59.0_x5
/Users/devassya/Documents/terraform/EKS/.terraform/providers/registry.terraform.io/hashicorp/aws/3.62.0/darwin_amd64/terraform-provider-aws_v3.62.0_x5
